@use './global' as *;

.layout {
  display: flex;
  height: 100vh;
  .first {
    flex: 1;
    padding: 3rem 3rem;
    background: linear-gradient(rgba(#022d29, 0.9), rgba(#2b3c5d, 0.9)),
      url('../assets/job3.jpg');
    background-size: cover;
    background-position: center;

    h1 {
      font-size: 2.8rem;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.2;
      color: #fff;
    }
  }

  .second {
    flex: 2;
    background: linear-gradient(rgba(#5c4678, 1), rgba(#0d2930, 0.9)),
      url('../assets/job2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;

    h1 {
      text-align: center;
      font-size: 3rem;
      padding: 1rem;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      font-weight: 400;
    }
    .login-signup {
      margin-top: 2rem;
      form {
        position: relative;
        .form-group {
          text-align: center;
          input {
            width: 40rem;
            padding: 0.7rem 0.2rem;
            margin-bottom: 1rem;
            background-color: rgba(#fff, 0.8);
            border: none;
            border-bottom: 1px solid #333;
          }

          button {
            border: 1px solid #333;
            padding: 0.4rem 2rem;
            background-color: $color-black;
            color: $color-white;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            border-radius: 3px;
          }

          span {
            color: #3c76ad;
          }
        }

        .image-container {
          gap: 1rem;
          overflow-y: auto;
          padding: 2rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          img {
            width: 15rem;
            display: inline-block;
            height: auto;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
