@use './global' as *;

.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: $color-white;
}

.post-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #d2d0d0;
  border-bottom: 1px solid #d2d0d0;

  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-8px);
  }

  .btn-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .btn {
      padding: 0.5rem 1rem;
      background-color: #333;
      color: #fff;
      transition: all 0.5s;

      &:hover {
        background-color: $color-secondary;
        color: #333;
      }
    }
  }
  .post-img {
    height: 300px;
    object-fit: cover;
    cursor: pointer;
  }

  .post-content {
    padding: 1rem;

    .post-title {
      font-size: 1.4rem;
      margin: 0 0 0.3rem;
      color: #333;
    }

    .post-description {
      font-size: 0.9rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .post-price {
      font-weight: bold;
      color: #00cc66;
      margin-bottom: 0.8rem;
    }

    .post-user {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      .user-name {
        font-size: 0.9rem;
        color: #333;
      }
    }
  }
}

.edit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: 0.75rem 1rem;
      border: 1px solid $color-grey;
      font-size: 1rem;
      resize: none;

      &:focus {
        border-color: $color-primary;
        outline: none;
        box-shadow: 0 0 5px rgba($color-primary, 0.5);
      }
    }

    textarea {
      min-height: 100px;
    }

    button {
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;

      &:first-of-type {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }

      &:last-of-type {
        background-color: coral;
        color: $color-white;

        &:hover {
          background-color: darken(coral, 10%);
        }
      }
    }
  }
}
